@{
    ViewData["Title"] = "Home Page";
    
}


<h1> Alarm main page!</h1>

<script>document.body.style.backgroundColor = '@TempData["Color"]';</script>
<div id="interface">
    <button id="ArmBtn" class="btn btn-success">Arm</button>
    <br />
    <br />
    <button id="DisarmBtn" class="btn btn-success">Disarm</button>
    <br />
    <br />
    <button id="IsAlarmBtn" class="btn btn-success">Is Alarm?</button>
    <br />
    <br />
    <label id="Alarm"> <font color="#7B241C">@TempData["AlarmMsg"]</font></label>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
            $('#ArmBtn').click(function () {
                document.location = '@Url.Action("Arm","Home")';
            });
    </script>
    <script>
            $('#DisarmBtn').click(function () {
                document.location = '@Url.Action("Disarm","Home")';
            });
    </script>
    <script>
        $('#IsAlarmBtn').click(function () {
                document.location = '@Url.Action("Buzz","Home")';
            });
    </script>
</div>


